<mat-card>
  <mat-card-title>Haltestelle Information</mat-card-title>
  <hr>
  <mat-list>
    <mat-list-item>
      <dt><span>Name</span></dt>
      <dd><span>{{haltestelle.name}}</span></dd>
    </mat-list-item>
    <mat-list-item>
      <dt><span>Gemeinde</span></dt>
      <dd>
        <span>{{haltestelle.gemeinde}}</span>
      </dd>
    </mat-list-item>
    <mat-list-item>
      <dt><span>Transportunternehmung</span></dt>
      <dd>
        <span>{{haltestelle.transportunternehmung}}</span>
      </dd>
    </mat-list-item>
    <mat-list-item>
      <dt><span>Ort</span></dt>
      <dd>
        <span>{{haltestelle.ort}}</span>
      </dd>
    </mat-list-item>
    <mat-list-item>
      <dt><span>Höhe</span></dt>
      <dd>
        <span>{{haltestelle.hoehe}}</span>
      </dd>
    </mat-list-item>
    <mat-list-item>
      <dt><span>Koordinaten Ost</span></dt>
      <dd>
        <span>{{haltestelle.koordOst}}</span>
      </dd>
    </mat-list-item>
    <mat-list-item>
      <dt><span>Koordinaten Nord</span></dt>
      <dd>
        <span>{{haltestelle.koordNord}}</span>
      </dd>
    </mat-list-item>
  </mat-list>
</mat-card>
